-breadcrumb :estadisticas, @proyecto
h1 Estadisticas

h2 Acumulativo

= content_tag :div, "", id: "acumulativo", data: {actividades: @proyecto.acumulativo[0], labels: @proyecto.acumulativo[1]}

br
h2 Velocidad
br


= content_tag :div, "", id: "velocidad", data: {estados: @proyecto.velocidad[0], labels: @proyecto.velocidad[1]}

