-breadcrumb :estadisticas, @proyecto
h1 Proyecto: #{@proyecto.codigo} - #{@proyecto.nombre}
h2 Estadísticas del proyecto

br
br
h3 Flujo acumulativo

= content_tag :div, "", id: "acumulativo", data: {actividades: @proyecto.acumulativo[0], labels: @proyecto.acumulativo[1]}

br
h3 Gráfico de velocidad
br


= content_tag :div, "", id: "velocidad", data: {estados: @proyecto.velocidad[0], labels: @proyecto.velocidad[1]}

