<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Descripcion</Data></Cell>
      </Row>
    <% @especialidades_de_contacto.each do |esp| %>
      <Row>
        <Cell><Data ss:Type="String"><%= esp.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= esp.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= esp.descripcion %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>