-breadcrumb :actividad_proyecto_editar, @actividad_proyecto
h1 Editar actividad del proyecto

== render 'form'

= link_to 'Mostrar', @actividad_proyecto
'|
= link_to 'Volver', actividades_del_proyecto_path(Proyecto.find(@actividad_proyecto.proyecto_id))

