/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
*/

/*.wrapper{
	height: 916px;
}

*/

i.fa.fa-search{
	background-color: #00a65a;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	margin-right: 3px;
}

i.fa.fa-pencil{
	background-color: #f39c12;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	margin-right: 3px;
}

i.fa.fa-trash{
	background-color: #dd4b39;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
}

i.glyphicon.glyphicon-ok{
	color: #00a65a;
}

i.glyphicon.glyphicon-remove{
	color: #dd4b39;
}

li#tree > a{
	font-size: 13px;
}

p#foot {
	font-size: 13px;
	font-weight: 700;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}