// Place all the styles related to the Proyectos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-header.with-border h3{
  font-weight: 400;
  line-height: 0;
}

.box#menu{
	background: #99c43b;
	background-color: #99c43b;
	border-top-color: #99c43b;
	
}

.box.box-info .box-header{
	background: #00c0ef;
	background-color: #00c0ef;
	border-top-color: #00c0ef;
	color: #FFFFFF;
}

.box#menu .box-header.with-border{
	color: #FFFFFF;
}

.box.box-success#domicilio .box-header.with-border {
	background-color: #00a65a;
	color: #FFFFFF;	
}

.box#estado .box-header.with-border{
	background-color: #ae2bca;
	border-top-color: #ae2bca;
	color: #FFFFFF;	
}

div#estado.box{
	border-top-color: #ae2bca;
}